<div class="user-header"><h1><%= current_user.username %>'s archived task lists:</h1></div>

<ul class="list-group">
<% @archived_lists.each do |list| %>
<li class="list-group-item"><%= link_to "#{list.title}",list_tasks_path(list_id: list.id) %>
<%= link_to "Edit", edit_list_path(list) %>
<%= link_to "Delete", list_path(list), method: :delete %>

<% end %>
</ul>
