<% @tags.each do |tag| %>
  <h3><%= tag.name %></h3><br>
  <% tag.tasks.each do |task| %>
    <b>Task: </b><%= task.title %>
    <b>List: </b><%= task.list.title %><br>
  <% end %>
<% end %><br><br>

<%= link_to "Create New Tag", new_tag_path %>
